header {
  margin-top: 20px;
  .container {
    min-height: 120px;

  }
  .logo {
    img {
      height: 100px;
    }
  }
  .button-wrapper {
    float: right;
    .btn {
      display: inline-block;
      background-color: white;
      color: #26b5c4;
      font-weight: bold;
      border: 1px solid #26b5c4;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 13px;
      min-width: 30px;
      min-height: 30px;
      margin-right: 10px;
      border-radius: 30px;
      @media (max-width: 992px){
        max-width: 30px;
        float: right;
      }
      &:hover {
        background-color: lightgrey;
      }
    }

    .pin-list {
        margin-bottom: 20px;
    }


  }
}