// Modal
.modal {
  left: 375px;
  button.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    background-color: #27b2c5;
    padding: 0;
    border-radius: 50%;
    line-height: 26px;
    opacity: 1;
    span {
      font-weight: 200;
      color: white;
      text-shadow: none;
      font-size: 25px;
    }
  }
  .modal-dialog {
  

    .modal-content {
      min-width: 360px;
      border-radius: 10px;
      background-color: #003B55;
      color: white;
    }

    .modal-header {
      position: relative;
      border-bottom: 0px;
      padding-top: 20px;

      .modal-title {
        color: white;
        font-weight: 400;
      }
    }

    .modal-body {
      height: 200px;
      margin-right: 8px;
      overflow-y: scroll;

      ul {
        padding-left: 0px;
      }

      li {
        list-style-type: none;
        margin-top: 1rem;
        line-height: 13px;
        background: url(../../data/push-pin.svg) no-repeat left top;
        background-size: 13px;
        fill: #003b55;
        padding: 0px 0px 10px 24px;
        border-bottom: 1px solid #195b7c;
      }
      .oval-icon li {
        background: url(../../data/Oval.svg) no-repeat left top;
      }

      .suggestedContent {
        border: 1px solid #809daa;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: #003b55;

      }

      .selected-platform {
        margin-bottom: 10px;
        label {
          color: #809daa;
          margin-bottom: 0px;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
        cursor: pointer;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #27b2c5; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        cursor: pointer; 
      }
      &::-webkit-scrollbar-thumb:window-inactive {
      background: #27b2c5; 
      cursor: pointer; 
      }

    }
    
    .modal-footer {
      border-top: 0px;
      justify-content:unset;
    }

    //suggestion form
    #suggestion-form {
      min-width: 364px;
      min-height: 358px;
      .modal-body {
        height: auto;
        overflow-y: unset;
        p {
          margin-bottom: 10px;
          line-height: 15px;
        }
      }
      .suggestion-submit-button {
        
        min-width: 336px;
        min-height: 40px;
        float: left;
        border: 1px solid #24B5C5;
        font-size: 16px;
        font-weight: 200;
        color: #24B5C5;
        border-radius: 40px;
        background-color: #003b55;
      }
      ::placeholder {
        color:#809daa;
      }
    }

    .document-pin-button {
      min-width: 300px;
    }
  }
  @media (min-width: 576px){
    .modal-dialog {
      max-width: 350px;
    }
  }

}
.modal-backdrop.show  {
  opacity: 0;
}
