header {
  margin-top: 20px;
  .container {
    min-height: 120px;
  }
  .button-wrapper {
    float: right;
    .btn {
      background-color: white;
      color: black;
      font-weight: bold;
      border-radius: 0;
      border: 1px solid black;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 13px;
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}