// Search Map
.fjs-container {
  display: flex;
  position: relative;
  min-height: 500px;
  font-size: 0.9em;
  overflow: auto;
  background-color: rgb(239, 239, 239);
  @media (max-width: 992px) {
    display: flex;
  }
}
#searchMap {
  position: relative;
  #welconme-message {
    position: absolute;
    display: inline-block;
    height: 20px;
  }
  .active {
    background-color: lightgray;
  }
  .fjs-container:focus {
    outline: none;
  }

  .fjs-col {
    max-height: 700px;
    min-height: inherit;
    min-width: 250px;
    overflow-y: auto;
    margin-left: 7px;
    margin-right: 7px;
    @media (max-width: 992px) {
      display: block;
      min-height: auto;
      max-width: 250px;
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .fjs-item a {
    border: 1px solid rgb(193, 193, 193);
    border-top: 0px;
    align-items: flex-end;
    color: black;
    display: flex;
    // justify-content: space-between;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    &:hover {
      background-color: lightgrey;
      cursor: pointer;
    }
  }
  .fjs-item-append {
    display: inline-block;
    float: right;
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f054";
    }
  }

  .fjs-item a:focus {
    outline: none;
  }

  .fjs-item a span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fjs-item a span i {
    padding-right: 5px;
  }

  .fjs-active a {
    background-color: lightgray;
    color: black;
  }

  .fjs-col:nth-last-child(2) .fjs-active a,
  .fjs-col:last-child .fjs-active a {
    background-color: lightgrey;
    color: black;
  }

  .fjs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .fjs-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    min-width: 220px;
  }

  .fa-folder {
    color: #90e4ff;
  }

  .fa-file-o {
    color: #a7a7a7;
  }

  .fa-external-link {
    color: #629eff;
    font-size: smaller;
  }

  .fa-caret-right {
    color: gray;
    padding: 0 0 0 0.5em;
  }

  .fjs-col:nth-last-child(2) .fjs-active a .fa-caret-right,
  .fjs-col:last-child .fjs-active a .fa-caret-right {
    color: black;
  }

  .leaf-col {
    align-items: center;
    border-right: 0;
    display: flex;
    flex: 2;
    justify-content: center;
    padding: 0 1.5em;
  }

  .leaf-row {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    text-align: center;
  }

  .leaf-row .fa {
    color: #a7a7a7;
    font-size: 4em;
    margin: 20px 0;
  }

  .leaf-row .fa-refresh {
    font-size: 2em;
  }

  .leaf-col .meta {
    font-size: 0.7em;
  }

  .leaf-col .meta strong {
    color: #c1c1c1;
    font-weight: normal;
  }

  .leaf-col .meta:first-of-type {
    margin-top: 1.5em;
  }
  .SearchMapLv1 {
    background-color: rgb(47, 144, 171);
  }
  .SearchMapLv2 {
    position: absolute;
    top: 0;
    left: 260px;
    background-color: rgb(76, 170, 196)
    
  }
  .SearchMapLv2 >li > .fjs-list {
    position: absolute;
    top: 0;
    left: 260px;
    background-color: rgb(158, 210, 224);
  }
}
